requests
python-dotenv
videosdk-agents[deepgram,openai,elevenlabs,silero,turn_detector]
videosdk-plugins-sarvamai
videosdk-plugins-google
videosdk-plugins-cerebras
langchain
langchain_google_genai
langchain_groq
langchain-core
pypdf
langchain-community
PyMuPDF
ipykernel
langchain_experimental
langchain-aimlapi
langchain-mistralai
langchain-chroma
structlog
flashrank